{{define "artist"}} {{ template "header" .}}

<a class="btn btn-success float-right" target="_blank" href="https://open.spotify.com/artist/{{ .Artist.ID }}">View on Spotify</a>

<h1>{{ .Artist.Name }}</h1>

<p>Popularity: {{ .Artist.Popularity }}/100</p>
<p>Followers: {{ .Artist.Followers.Count }}</p>
<p>Genres: {{ join .Artist.Genres }}</p>

<h4>Top Tracks</h4>
<table class="table table-hover table-sm">
    <thead>
    <tr>
        <th scope="col">Track</th>
        <th scope="col">Album</th>
        <th scope="col">Duration</th>
    </tr>
    </thead>
    <tbody>
    {{ range $key, $value := .Tracks }}
    <tr>
        <td><a href="/track/{{.ID}}">{{.Name}}</a></td>
        <td><a href="/album/{{.Album.ID}}">{{.Album.Name}}</a></td>
        <td>{{seconds .Duration}}</td>
    </tr>
    {{ end }}
    </tbody>
</table>

<h4>Albums</h4>
<div class="row">
{{ range $key, $value := .Albums.Albums }}
    {{ template "include-album" . }}
{{ end }}
</div>

{{ template "footer" .}} {{end}}
