{{define "header"}}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="google" content="notranslate" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/style.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
    <div class="container">
        <a class="navbar-brand" href="/">Spotify Tools</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="/shuffle">Shuffle</a></li>
                <li class="nav-item"><a class="nav-link" href="/duplicates">Duplicates</a></li>
                <li class="nav-item"><a class="nav-link" href="/random">Random</a></li>
            </ul>

            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="/info">Info</a></li>
                <li class="nav-item">
                    {{if .LoggedIn}}
                    <a class="nav-link" href="/logout">Logout {{.LoggedInID}}</a>
                    {{else}}
                    <a class="nav-link" href="/login">Login</a>
                    {{end}}
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">

    {{if .Flashes}}
    <div class="alert alert-primary" role="alert">
        {{ range $key, $value := .Flashes }}
        <div>{{ $value }}</div>
        {{ end }}
    </div>
    {{end}}

    {{end}}
