{{define "home"}} {{ template "header" .}}

<div class="jumbotron pt-4 pb-4">
    <h1 class="display-3">Spotify Helper</h1>
    <p class="lead"></p>
</div>

<h4>What is this website?</h4>
<p>Spotify Tools is an open source project written by <a href="https://jimeagle.com/">Jim Eagle</a> in Go.
    <br/>If you wish to run the website locally or contribute, see the <a href="https://github.com/Jleagle/spotifyhelper">GitHub</a> page.</p>

<h4 class="mt-4">Why do we need access to your spotify account?</h4>
<p>To read or write data to your account we need to be given permission.<br/>We currently do not keep any data about you or your account.</p>

<h4 class="mt-4">Other Services</h4>
<p>A collection of other Spotify related websites we like.</p>
<ul>
    <li>JQBX: Description... todo - <a target="_blank" href="https://app.jqbx.fm/">https://app.jqbx.fm/</a></li>
    <li>Every Noise: Description... todo - <a target="_blank" href="http://everynoise.com/">http://everynoise.com/</a></li>
</ul>

{{ template "footer" .}} {{end}}
