{{define "random"}} {{ template "header" .}}

<h1>Random</h1>

<ul class="nav nav-tabs mb-4">
    <li class="nav-item">
        <a class="nav-link {{ if .SearchAlbums}}active{{end}}" href="/random/albums">Albums</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {{ if .SearchArtists}}active{{end}}" href="/random/artists">Artists</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {{ if .SearchTracks}}active{{end}}" href="/random/tracks">Tracks</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {{ if .SearchPlaylists}}active{{end}}" href="/random/playlists">Playlists</a>
    </li>
</ul>

<div class="row">

{{ if .SearchPlaylists}}
{{ range $key, $value := .SearchPlaylists.Playlists.Playlists }}
    <div class="col-4">
        <div class="card">
            <div class="card-header">Playlist</div>
            <a href="/user/{{ .Owner.ID }}/playlist/{{ .ID }}">
                <img style="width:100%" src="{{(index .Images 0).URL}}" alt="{{ .Name }}">
            </a>
            <div class="card-body">
                <h4 class="card-title">{{ .Name }}</h4>
                <p class="card-text">
                    <strong>By:</strong> <a href="/user/{{ .Owner.ID }}">{{ .Owner.ID }}</a>
                </p>
            </div>
        </div>
    </div>
{{ end }}
{{end}}

{{ if .SearchArtists}}
{{ range $key, $value := .SearchArtists.Artists.Artists }}
    <div class="col-4">
        <div class="card">
            <div class="card-header">Artist</div>
            <a href="/artist/{{ .ID }}">
            {{if gt (len .Images) 0 }}
                <img style="width:100%" src="{{(index .Images 0).URL}}" alt="{{ .Name }}">
            {{else}}
                <img style="width:100%" src="/assets/no-image.png" alt="{{ .Name }}">
            {{end}}
            </a>
            <div class="card-body">
                <h4 class="card-title">{{ .Name }}</h4>
                <p class="card-text">
                    <strong>Popularity:</strong> {{ .Popularity }}/100<br />
                    <strong>Followers:</strong> {{ comma .Followers.Count }}<br />
                    <strong>Genres:</strong> {{ genres .Genres }}
                </p>
            </div>
        </div>
    </div>
{{ end }}
{{end}}

{{ if .SearchAlbums}}
{{ range $key, $value := .SearchAlbums.Albums.Albums }}
    {{ template "include-album" . }}
{{ end }}
{{end}}

{{ if .SearchTracks}}
{{ range $key, $value := .SearchTracks.Tracks.Tracks }}
    <div class="col-4">
        <div class="card">
            <div class="card-header">Track</div>
            <a href="/track/{{ .ID }}">
                <img style="width:100%" src="{{(index .Album.Images 0).URL}}" alt="{{ .Name }}">
            </a>
            <div class="card-body">
                <h4 class="card-title">{{ .Name }}</h4>
                <p class="card-text">
                    <strong>Artists:</strong> {{ artists .Artists }}<br/>
                    <strong>Album:</strong> <a href="/album/{{ .ID }}">{{ .Name }}</a><br/>
                    <strong>Duration:</strong> {{ seconds .Duration }}<br/>
                    <strong>Popularity:</strong> {{ .Popularity }}/100
                </p>
            </div>
        </div>
    </div>
{{ end }}
{{end}}

</div>

{{ template "footer" .}} {{end}}
