{{define "shuffle"}} {{ template "header" .}}

<h1>Shuffle</h1>
<p>Shuffle in Spotify probably doesnt do what you think it does and has a tendency to play certain songs more while
    leaving others unplayed.</p>

{{ if .LoggedIn}}
<table class="table table-striped table-sm">
    <thead>
    <tr>
        <th scope="col">Playlist</th>
        <th scope="col">Owner</th>
        <th scope="col">Tracks</th>
        <th scope="col">Shuffle</th>
    </tr>
    </thead>
    <tbody>
    {{ range $key, $value := .Playlists }}
    <tr>
        <td>{{ .Name }}</td>
        <td>{{ .Owner.ID }}</td>
        <td>{{ .Tracks.Total }} tracks</td>
        <td>
            <a class="btn btn-primary btn-sm" href="/shuffle/{{.ID}}/0" role="button">Shuffle</a>
            <a class="btn btn-primary btn-sm" href="/shuffle/{{.ID}}/1" role="button">New Shuffle</a>
        </td>
    </tr>
    {{ end }}

    </tbody>
</table>
{{else}}
x
{{end}}

{{ template "footer" .}} {{end}}
