{{define "top"}} {{ template "header" .}}

<h1>Your Top Tracks</h1>

<ul class="nav nav-tabs mb-4">
    <li class="nav-item">
        <a class="nav-link {{ if .FullArtistPage}}active{{end}}" href="/top/artists/{{.TimeRange}}">Artists</a>
    </li>
    <li class="nav-item mr-5">
        <a class="nav-link {{ if .FullTrackPage}}active{{end}}" href="/top/tracks/{{.TimeRange}}">Tracks</a>
    </li>
    <li class="nav-item">
        <a class='nav-link {{ if eq .TimeRange "short"}}active{{end}}' href="/top/{{.ArtistTrack}}/short">4 Weeks</a>
    </li>
    <li class="nav-item">
        <a class='nav-link {{ if eq .TimeRange "medium"}}active{{end}}' href="/top/{{.ArtistTrack}}/medium">6 Months</a>
    </li>
    <li class="nav-item">
        <a class='nav-link {{ if eq .TimeRange "long"}}active{{end}}' href="/top/{{.ArtistTrack}}/long">Several Years</a>
    </li>
</ul>

{{ if .FullArtistPage}}
{{ range $key, $value := .FullArtistPage.Artists }}
<div class="media">
    <a href="/artist/{{.ID}}"><img class="align-self-start mr-3" src="{{(index .Images 1).URL}}" alt="{{.Name}}"></a>
    <div class="media-body">
        <h5 class="mt-0">{{plusone $key}}. {{.Name}}</h5>
        <p>{{genres .Genres}}</p>
    </div>
</div>
{{ end }}
{{end}}

{{ if .FullTrackPage}}
{{ range $key, $value := .FullTrackPage.Tracks }}
<div class="media">
    <a href="/track/{{.ID}}"><img class="align-self-start mr-3" src="{{(index .Album.Images 1).URL}}" alt="{{.Name}}"></a>
    <div class="media-body">
        <h5 class="mt-0">{{plusone $key}}. {{.Name}}</h5>
        <p>Artist: {{artists .Artists}} - Album: <a href="/album/{{.Album.ID}}">{{.Album.Name}}</a></p>
    </div>
</div>
{{ end }}
{{end}}

{{ template "footer" .}} {{end}}
