{{define "track"}} {{ template "header" .}}

<a class="btn btn-success float-right" target="_blank" href="https://open.spotify.com/track/{{ .Track.ID }}">View on Spotify</a>

<h1>{{ .Track.Name }}</h1>


<p>Artists: {{artists .Track.Artists}}</p>
<p>Album: <a href="/album/{{.Track.Album.ID}}">{{.Track.Album.Name}}</a></p>
<p>Popularity: {{ .Track.Popularity }}/100</p>
<p>
    <span style="float: left">Preview: </span>
    <audio controls style="float: left">
        <source src="{{.Track.PreviewURL}}" type="audio/mpeg">
    </audio>
</p>
{{ template "footer" .}} {{end}}
